@font-face {
  font-family: "DotGothic16 Regular";
  src: local("DotGothic16 Regular"),
  url("DotGothic16-Regular.ttf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Regular";
  src: local("NeueMontreal Regular"),
  url("NeueMontreal-Regular.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Bold";
  src: local("NeueMontreal Bold"),
  url("NeueMontreal-Bold.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Light";
  src: local("NeueMontreal Light"),
  url("NeueMontreal-Light.otf") format("woff");
}






