@font-face {
  font-family: "SF Pro Display Bold";
  src: local("SF Pro Display Bold"),
    url("SF-Pro-Display-Bold.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: local("SF Pro Display Medium"),
    url("SF-Pro-Display-Medium.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Light";
  src: local("SF Pro Display Light"),
    url("SF-Pro-Display-Light.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: local("SF Pro Display Semibold"),
    url("SF-Pro-Display-Semibold.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: local("SF Pro Display Thin"),
    url("SF-Pro-Display-Thin.otf") format("woff");
}

@font-face {
  font-family: "DotGothic16 Regular";
  src: local("DotGothic16 Regular"),
  url("DotGothic16-Regular.ttf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Regular";
  src: local("NeueMontreal Regular"),
  url("NeueMontreal-Regular.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Bold";
  src: local("NeueMontreal Bold"),
  url("NeueMontreal-Bold.otf") format("woff");
}

@font-face {
  font-family: "NeueMontreal Light";
  src: local("NeueMontreal Light"),
  url("NeueMontreal-Light.otf") format("woff");
}

@font-face {
  font-family: "DotGothic16 Regular";
  src: local("DotGothic16 Regular"),
  url("DotGothic16-Regular.ttf") format("woff");
}

@font-face {
  font-family: "SpaceMono Bold";
  src: local("SpaceMono Bold"),
  url("SpaceMono-Bold.ttf") format("woff");
}

@font-face {
  font-family: "SpaceMono Regular";
  src: local("SpaceMono Regular"),
  url("SpaceMono-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Gallery";
  src: local("Gallery"),
  url("Gallery.otf") format("woff");
}

@font-face {
  font-family: "Scillia Narrow";
  src: local("Scillia Narrow"),
  url("Scilla Narrow.otf") format("woff");
}

@font-face {
  font-family: "Scillia Narrow Italic";
  src: local("Scillia Narrow Italic"),
  url("Scilla Narrow Italic.otf") format("woff");
}

@font-face {
  font-family: "Scillia Regular";
  src: local("Scillia Regular"),
  url("Scilla Regular.otf") format("woff");
}

@font-face {
  font-family: "Scillia Regular Italic";
  src: local("Scillia Regular Italic"),
  url("Scilla Regular Italic.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Black";
  src: local("SF Pro Display Black"),
  url("SF-Pro-Display-Black.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Black Italic";
  src: local("SF Pro Display Black Italic"),
  url("SF-Pro-Display-BlackItalic.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: local("SF Pro Display Bold"),
  url("SF-Pro-Display-Bold.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Bold Italic";
  src: local("SF Pro Display Bold Italic"),
  url("SF-Pro-Display-BoldItalic.otf") format("woff");
}

@font-face {
  font-family: "SF Pro Display Heavy";
  src: local("SF Pro Display Heavy"),
  url("SF-Pro-Display-Heavy.otf") format("woff");
}

@font-face {
  font-family: "SK Concretica Trial";
  src: local("SK Concretica Trial"),
  url("sk-concretica-trial.ttf") format("woff");
}

@font-face {
  font-family: "VarentGrotesk Bold";
  src: local("VarentGrotesk Bold"),
  url("VarentGrotesk-Bold.otf") format("woff");
}

@font-face {
  font-family: "VarentGrotesk ExtLtlta";
  src: local("VarentGrotesk ExtLtlta"),
  url("VarentGrotesk-ExtLtIta.otf") format("woff");
}


@font-face {
  font-family: "Zighead";
  src: local("Zighead"),
  url("Zighead.otf") format("woff");
}